.next-upload-list-text .next-upload-list-item {
    width: 257px;
    border-radius: 4px;
    font-size: 14px;
}
.next-upload-list-text .next-upload-list-item-error {
    background-color: #fff !important;
    border: 1px solid #E0E0E0;
}
.link{
    color: blue;
    cursor: pointer;
}